article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

h1 { font-size: 2em; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: 700; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

pre { white-space: pre-wrap; word-wrap: break-word; }

q { quotes: \201C \201D \2018 \2019; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -.5em; }

sub { bottom: -.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: .35em .625em .75em; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }

button[disabled], input[disabled] { cursor: default; }

input[type=checkbox], input[type=radio] { box-sizing: border-box; padding: 0; }

input[type=search] { -webkit-appearance: textfield; box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration { -webkit-appearance: none; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

body, figure { margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { box-sizing: border-box; }

h1, h2, h3, h4 { text-transform: uppercase; }

html { font-size: 62.5%; }

body { font-size: 1.6rem; font-family: "PT Sans", sans-serif; }

header { height: 100vh; width: 100%; background: url(../assets/heroresized.jpg) center; background-size: cover; padding: 20px 0; color: #fff; }

.section-container { max-width: 1080px; margin: 0 auto; }

a.hamburger i:hover { color: #0ce682; }

.logo { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; width: 100%; }

.logo img { margin: 0 auto; }

nav { width: 75%; margin: 0 auto; border-bottom: 2px solid #67526F; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.hamburger, .hamburger2 { color: white; font-size: 30px; display: none; }

ul.nav { list-style: none; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; padding: 0; text-transform: uppercase; }

ul.nav li { padding: 10px; }

ul.nav li a { text-decoration: none; color: #D7D5DF; font-family: "PT Sans", sans-serif; text-transform: uppercase; }

ul.nav li a:hover { color: #0ce682; transition: all 0.6s ease; }

.donatebutton { margin-left: 70px; border: 1px solid white; padding: 10px; }

.donatebutton a { text-decoration: none; color: #D7D5DF; padding: 10px 15px; text-transform: uppercase; }

.donatebutton a:hover { color: #0ce682; transition: all 0.6s ease; }

.header-boxes { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding: 30px; margin-top: 100px; }

.header-boxes .header-box-1, .header-boxes .header-box-2 { width: calc(50% - 20px); }

.header-box-1, .header-box-2 { padding: 20px; }

.header-box-1 { margin-right: 20px; }

.header-box-1 ul.box-1 { list-style: none; padding: 0; margin-left: 50px; }

.header-box-1 ul.box-1 li { float: left; padding: 8px; }

.box-1 li i:hover { color: #0ce682; cursor: pointer; }

.header-box-2 { margin-left: 20px; }

.header-box-2 .all-line { width: 100%; height: 10px; background: rgba(255, 255, 255, 0.2); border-radius: 10px; margin: 0; }

.text h2 { color: #D7D5DF; font-size: 30px; text-transform: none; font-weight: 300; }

.text h2 p { font-size: 20px; }

.subscribe-social { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.subscribe-social p { background: #0ce682; padding: 10px 20px; border-radius: 35px; }

.subscribe-social p a { text-decoration: none; color: #fff; }

.subscribe-social p a:hover { color: #19181B; }

.season-time { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }

.season-time h3 { font-family: "Roboto", sans-serif; color: #0ce682; font-size: 16px; text-transform: uppercase; }

.play-episode { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.play-episode h4 { margin: 0px 10px 0; color: #0ce682; }

.episode-title h2 { font-size: 32px; font-weight: 300; margin: 10px 0; }

audio { display: none; }

.audiojs { margin: 0 auto; background: #000; }

.episodes-section { padding: 0; background: #19181B; }

.episodes-section .section-container { max-width: 1080px; margin: 0 auto; color: #fff; }

.episodes-section .section-container .browse { display: -webkit-flex; display: -ms-flexbox; display: flex; width: 100%; }

.episodes-section .section-container .browse p { width: 49%; margin: 0 2%; }

.browse { text-transform: uppercase; padding: 40px 0; }

.browse-all { width: 49%; }

.browse-all p:hover { color: #0ce682; transition: 0.6s all ease; cursor: pointer; }

.season { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; color: #0ce682; }

.episode-gallery { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; overflow: hidden; }

.episode-gallery .episode { width: calc(50% - 30px); margin: 20px 15px; }

.episode { padding: 30px; }

.episode .all-line { width: 100%; height: 10px; background: rgba(255, 255, 255, 0.2); border-radius: 20px; margin: 5% 0; }

.episode .all-line h2 { font-size: 32px; }

.episode1 { background: url(../assets/podcast-1.jpg) center no-repeat; }

.episode2 { background: url(../assets/podcast-2.jpg) center no-repeat; }

.episode3 { background: url(../assets/podcast-3.jpg) center no-repeat; }

.episode4 { background: url(../assets/podcast-4.jpg) center no-repeat; }

.episode5 { background: url(../assets/podcast-5.jpg) center no-repeat; }

.episode6 { background: url(../assets/podcast-6.jpg) center no-repeat; }

.load-button { width: 100%; background: rgba(255, 255, 255, 0.13); display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; margin: 40px 0; }

.load-button p { text-transform: uppercase; margin: 10px 0; }

.about-container { max-width: 1080px; margin: 60px auto; }

.about-container h2 { margin: 2%; }

.about-flex { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.image-drew, .about-drew, .about-vic, .image-vic { width: calc(50% - 40px); overflow: hidden; margin: 20px; }

.about-drew { text-align: right; }

.about-drew ul li { list-style: none; float: right; margin: 0 2px; }

.about-vic ul { padding: 0; }

.about-vic ul li { list-style: none; float: left; margin: 0 2px; }

.image-drew img, .image-vic img { min-width: 100%; overflow: hidden; }

ul.about-social-links li i:hover { color: #0ce682; cursor: pointer; transition: 0.4s all ease; }

.support { background: -webkit-linear-gradient(10deg, #00E98C 0%, #00E36F 100%); }

.support-container { max-width: 1080px; margin: 0 auto; }

.support-flex { width: 60%; margin: 0 auto; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding: 0 10rem; position: relative; }

.support-flex h4 { padding: 10px; background: #FDFDFD; border-radius: 20px; font-size: 12px; font-weight: 300; }

.support-flex h4 a { text-decoration: none; z-index: 9; }

p.special-donate { font-size: 17rem; position: absolute; margin: 0; top: 0; right: 0; bottom: 0; left: 0; color: rgba(255, 255, 255, 0.2); }

.pre-footer { background: #19181B; color: #fff; }

.pre-footer-flex { max-width: 1080px; margin: 0 auto; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.pre-footer-flex .pre { width: calc(25% - 20px); margin: 5% 10px; }

.pre-footer-flex .pre .pre-line { width: 100%; height: 10px; background: rgba(255, 255, 255, 0.2); border-radius: 10px; margin-bottom: 5%; }

.pre-footer h3 { font-size: 16px; font-family: "PT Sans", sans-serif; text-transform: uppercase; }

.pre-footer h4 { font-size: 12px; margin: 10px 0; }

.pre1, .pre2, .pre3, .pre4 p { font-family: "Roboto", sans-serif; font-size: 12px; font-weight: 300; }

.pre1 p, .pre2 p, .pre3 p { border-bottom: 1px solid #232023; }

.pre3, .pre4 ul { padding: 0; list-style: none; }

.pre-footer .pre4 .name-box { border-top: 1px solid #232023; }

.contact-drew, .contact-vic { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }

.contact-drew h3, .contact-vic h3 { color: #0ce682; }

.contact-drew li, .contact-vic li { float: left; padding: 0 5px; }

.contact-drew li i:hover, .contact-vic li i:hover { color: #0ce682; cursor: pointer; }

div.footer-image { width: 100%; border-top: 1px solid #232023; }

footer { background: #19181B; }

footer .footer-image { width: 100%; }

footer .footer-image img { margin: 30px auto 0; display: block; }

footer .footer-flex { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

footer .footer-flex ul { display: -webkit-flex; display: -ms-flexbox; display: flex; padding: 0; width: 50%; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

footer .footer-flex ul li { list-style: none; color: #fff; padding: 10px; }

footer .footer-flex ul li a { color: #fff; text-decoration: none; }

.footer-social li i:hover, .footer-nav li a:hover { color: #0ce682; transition: all 0.6s ease; cursor: pointer; }

.copyright { width: 100%; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; color: #D7D5DF; }

@media (max-width: 850px) { p.special-donate { font-size: 17rem; position: absolute; margin: 0; top: 20px; right: 0; bottom: 0; left: -35px; color: rgba(255, 255, 255, 0.2); } }

/* Landscape phone to portrait tablet */
@media (max-width: 737px) { header { height: auto; background-size: contain no repeat; }
  nav { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; }
  ul.nav { list-style: none; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; padding: 0; text-transform: uppercase; }
  ul.nav li { padding: 10px; }
  div.donatebutton { margin: 0 auto 14px; }
  div.donatebutton a { text-align: center; display: inline-block; }
  .subscribe-social { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-align-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; }
  .header-box-1 ul.box-1 { margin: 0; }
  .about-flex { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .about-vic { -webkit-order: 4; -ms-flex-order: 4; order: 4; }
  .image-drew, .about-drew, .about-vic, .image-vic { width: calc(100% - 40px); overflow: hidden; margin: 20px; }
  .footer-flex { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .support-flex { margin: 0 auto; padding: 0; position: relative; }
  .support-flex h4 { padding: 10px; background: #FDFDFD; border-radius: 20px; }
  .support-flex { width: 90%; margin: 0 auto; padding: 0 2rem; position: relative; }
  p.special-donate { display: none; font-size: 3rem; margin: 0; top: 16px; right: 49px; bottom: 0; left: 58px; color: rgba(255, 255, 255, 0.2); } }

/* Landscape phones and down */
@media (max-width: 676px) { header { height: auto; background-size: contain no repeat; }
  nav ul.nav { display: none; }
  ul.nav li { padding: 2px; }
  ul.nav li a { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .hamburger, .hamburger2 { display: block; text-align: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; padding: 15px; }
  .donatebutton a { padding: 3px; }
  .header-boxes { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-top: 0; padding-top: 10px; }
  .header-boxes .header-box-1, .header-boxes .header-box-2 { width: calc(100% - 20px); }
  .header-box-1, .header-box-2 { padding: 3rem 1rem 0; width: 96%; }
  .header-box-1 { margin-right: 0; }
  .header-box-1 ul.box-1 { list-style: none; padding: 0; margin-left: 50px; }
  .header-box-1 ul.box-1 li { float: left; padding: 8px; }
  .header-box-2 { margin: 0; }
  .header-box-2 .all-line { width: 100%; height: 5px; background: rgba(255, 255, 255, 0.2); border-radius: 10px; margin-bottom: 1%; }
  .header-box-2 .all-line h2 { margin: 55%; }
  .season-time h3 { line-height: 1px; }
  .text h2 { color: #D7D5DF; font-size: 20px; text-transform: none; }
  .text p { font-size: 14px; margin: 0; }
  .subscribe-social { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  .subscribe-social p { background: #0ce682; margin: 5px 0 0 0; padding: 5px 10px; border-radius: 35px; }
  .subscribe-social ul.box-1 { margin: 0; }
  .header-box-2 .episode-title h2 { font-size: 16px; margin: 5px 0; }
  .show-date h3 { margin: 2px 0; font-size: 14px; }
  .play-episode { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .play-episode h4 { margin: 2px; color: #0ce682; }
  .description p { font-size: 13px; margin: 4px 0; }
  .episode-gallery { -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .episode-gallery .episode { width: 90%; margin: 20px auto; } }

@media (max-width: 480px) { header { height: auto; background-size: contain no repeat; }
  nav ul.nav { display: none; }
  ul.nav li { padding: 2px; }
  ul.nav li a { -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .hamburger, .hamburger2 { display: block; text-align: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; padding: 15px; }
  .donatebutton a { padding: 3px; }
  .header-boxes { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .header-boxes .header-box-1, .header-boxes .header-box-2 { width: calc(100% - 20px); }
  .header-box-1, .header-box-2 { padding: 3rem 1rem 0; width: 96%; }
  .header-box-1 { margin-right: 0; }
  .header-box-1 ul.box-1 { list-style: none; padding: 0; margin-left: 50px; }
  .header-box-1 ul.box-1 li { float: left; padding: 8px; }
  .header-box-2 { margin: 0; }
  .header-box-2 .all-line { width: 100%; height: 5px; background: rgba(255, 255, 255, 0.2); border-radius: 10px; margin-bottom: 1%; }
  .header-box-2 .all-line h2 { margin: 55%; }
  .season-time h3 { line-height: 1px; }
  .text h2 { color: #D7D5DF; font-size: 20px; text-transform: none; margin: 0; }
  .text p { font-size: 14px; margin: 0; }
  .subscribe-social { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  .subscribe-social p { background: #0ce682; margin: 5px 0 0 0; padding: 5px 10px; border-radius: 35px; }
  .subscribe-social ul.box-1 { margin: 0; }
  .header-box-2 .episode-title h2 { font-size: 16px; margin: 5px 0; }
  .show-date h3 { margin: 2px 0; font-size: 14px; }
  .play-episode { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .play-episode h4 { margin: 2px; color: #0ce682; }
  .description p { font-size: 13px; margin: 4px 0; }
  .pre-footer-flex { max-width: 1080px; margin: 0 auto; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .pre-footer-flex .pre { width: calc(90% - 20px); margin: 0 auto; }
  .pre-footer-flex .pre .pre-line { width: 100%; height: 10px; background: rgba(255, 255, 255, 0.2); border-radius: 10px; margin: 1%; }
  .footer-flex ul.footer-nav { display: none; }
  footer .footer-flex ul li { text-align: center; } }
